<div class="alerts">
	<h2>Alerts</h2>
	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="alert alert-success">
				<a class="close">×</a>
				<strong>Success</strong> You successfully read this important alert message.
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".alert-success" data-element="background-color">
					<label for="sg-alert-success-bg-color">Background:</label>
					<input id="sg-alert-success-bg-color" data-selector=".alert-success" data-element="background-color" data-var="@alert-success-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-success" data-element="border-color">
					<label for="sg-alert-success-border-color">Border:</label>
					<input id="sg-alert-success-border-color" data-selector=".alert-success" data-element="border-color" data-var="@alert-success-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-success" data-element="color">
					<label for="sg-alert-success-text-color">Text:</label>
					<input id="sg-alert-success-text-color" data-selector=".alert-success" data-element="color" data-var="@alert-success-text" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="alert alert-info">
				<a class="close">×</a> <strong>Information</strong> This alert needs your attention, but it's not super
				important.
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".alert-info" data-element="background-color">
					<label for="sg-alert-info-bg-color">Background:</label>
					<input id="sg-alert-info-bg-color" data-selector=".alert-info" data-element="background-color" data-var="@alert-info-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-info" data-element="border-color">
					<label for="sg-alert-info-border-color">Border:</label>
					<input id="sg-alert-info-border-color" data-selector=".alert-info" data-element="border-color" data-var="@alert-info-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-info" data-element="color">
					<label for="sg-alert-info-text-color">Text:</label>
					<input id="sg-alert-info-text-color" data-selector=".alert-info" data-element="color" data-var="@alert-info-text" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="alert alert-warning">
				<a class="close">×</a> <strong>Warning</strong> Better check yourself, you're not looking too good.
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".alert-warning" data-element="background-color">
					<label for="sg-alert-warning-bg-color">Background:</label>
					<input id="sg-alert-warning-bg-color" data-selector=".alert-warning" data-element="background-color" data-var="@alert-warning-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-warning" data-element="border-color">
					<label for="sg-alert-warning-border-color">Border:</label>
					<input id="sg-alert-warning-border-color" data-selector=".alert-warning" data-element="border-color" data-var="@alert-warning-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-warning" data-element="color">
					<label for="sg-alert-warning-text-color">Text:</label>
					<input id="sg-alert-warning-text-color" data-selector=".alert-warning" data-element="color" data-var="@alert-warning-text" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8 col-md-9">
			<div class="alert alert-danger">
				<a class="close">×</a> <strong>Error</strong> Change a few things up and try submitting again.
			</div>
		</div>

		<div class="col-sm-4 col-md-3">
			<div class="input">
				<p class="picker" data-selector=".alert-danger" data-element="background-color">
					<label for="sg-alert-danger-bg-color">Background:</label>
					<input id="sg-alert-danger-bg-color" data-selector=".alert-danger" data-element="background-color" data-var="@alert-danger-bg" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-danger" data-element="border-color">
					<label for="sg-alert-danger-border-color">Border:</label>
					<input id="sg-alert-danger-border-color" data-selector=".alert-danger" data-element="border-color" data-var="@alert-danger-border" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
				<p class="picker" data-selector=".alert-danger" data-element="color">
					<label for="sg-alert-danger-text-color">Text:</label>
					<input id="sg-alert-danger-text-color" data-selector=".alert-danger" data-element="color" data-var="@alert-danger-text" type="text">
					<span class="input-group-append"><i></i></span>
				</p>
			</div>
		</div>
	</div>
</div>
