// $Id$ Custom variables for the Didiem theme.

// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$primary: #8bbb47;

$theme-colors: (
	"primary":        	#a1bb87
);

// Options
// Spacing

// Body
$body-color: #363636;

// Links
$link-color:       $primary;
$link-hover-color: #8bbb47;

// Components

// Fonts
$font-family-sans-serif:  Arial, "Helvetica Neue", Helvetica, sans-serif;

// Tables

// Buttons
$btn-primary-color: #ffffff;
$btn-primary-bg: #a1bb87;
$btn-primary-border: #8fa872;

$btn-secondary-color: #ffffff;
$btn-secondary-bg: #a1bb87;
$btn-secondary-border: #8fa872;

// Forms
$input-bg: #f8f9d4;
$input-bg-disabled: $gray-300;
$input-color: $gray-900;
$input-border-color: #e0e0e0;
$input-focus-border-color: darken(#e0e0e0, 15%);

// Dropdowns
$dropdown-bg:                    #aaaaaa;
$dropdown-divider-bg:            #e5e5e5;
$dropdown-link-color:            #ffffff;
$dropdown-link-hover-color: darken(#ffffff, 5%);
$dropdown-link-hover-bg: #6D9F26;

// Navs
// Navbar
$navbar-height:        34px;
$navbar-light-color: #000000;
$navbar-light-bg: #eeeeee;
$navbar-light-border: none;

// Navbarlinks ??
$navbar-light-link-color: #000000;
$navbar-light-link-hover-color: #ffffff;
$navbar-light-link-hover-bg: linear-gradient(to bottom, #93c44f 0%, #6d9f26 100%);
$navbar-light-link-active-color: #000000;
$navbar-light-link-disabled-color: #ffffff;
$navbar-light-link-disabled-bg: transparent;

// Pagination
// Jumbotron
// Cards
// Tooltips
// Popovers
// Badges
// Modals
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
