// $Id$ - raspberry.less; compile to make
/*  The raspberry theme option file for the FiveAlive theme of Tiki Wiki CMS Groupware. */
@import "../../../../../vendor_bundled/vendor/twbs/bootstrap/scss/_mixins.scss";
// To apply variables defined in bootstrap-variables.scss.
// These two files are theme-specific:
@import "bootstrap-variables.scss";
// A copy of the Bootstrap variables.scss file but using only color settings.
@import "tiki-selector-variables.scss";
// Provides values for "legacy" Tiki CSS selectors (not covered by Bootstrap).
// @import url("../jquery-ui/options/raspberry/jquery-ui.min.css"); // Currently needed for popup styling, textarea width, etc.
// These files are used/shared by all FiveAlive theme options:
@import "../../../scss/_bootstrap-scss-for-options.scss";
// Contains relevant Bootstrap .less file sections to expose variables for the theme options to provide values for.]
@import "../../../scss/_tiki-selectors-for-options.scss";

// Contains CSS for styling Tiki elements not covered by Bootstrap.

// This comes last to enable site title color of theme options under FiveAlive-lite to have priority over the default set by FiveAlive.
header.header {
	.sitetitle,
	.sitesubtitle {
		color: @brand-primary;
		text-shadow: none;
	}
	a,
	a:visited {
		color: @brand-primary;
	}
}
