{* $Id$ *}
{strip}
{title help="mods"}{tr}Tiki Mods{/tr}{/title}

{remarksbox type="note" title="{tr}Note{/tr}"}
	<p><strong>{tr}Tiki "Mods" are obsolete as of Tiki 19.{/tr}</strong></p>
	<p>{tr}Tiki now uses "Packages" instead.{/tr} <em>{tr}Please visit <a href="https://doc.tiki.org/Packages" target="_blank">https://doc.tiki.org/Packages</a> to find out more.</em>{/tr}</p>
{/remarksbox}

{/strip}
