@text-color: #395bb0;
@link-color: @text-color;
@link-hover-color: @text-color;

@brand-primary: #395bb0;

@btn-default-color: @text-color;
@btn-default-bg: @brand-primary;
@btn-default-border: @brand-primary;

@btn-primary-color: #ffffff;
@btn-primary-bg: @brand-primary;
@btn-primary-border: @brand-primary;

@navbar-default-bg: @brand-primary;
@navbar-default-border: darken(@brand-primary,10%);
@navbar-default-color: #ffffff;
@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: darken(#fff,10%);
@navbar-default-link-hover-bg: @brand-primary;
@navbar-default-brand-color: #ffffff;

@panel-inner-border: @brand-primary;

@panel-default-color: #ffffff;
@panel-default-border: @brand-primary;
@panel-default-heading-bg: @brand-primary;

@panel-primary-text: @brand-primary;
@panel-primary-border: @brand-primary;
@panel-primary-heading-bg: @brand-primary;

$border-radius: 2px;
@border-radius-large: 4px;
@border-radius-small: 1px;


